<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{current_list.name}}</h1>
            <h2>Tasks</h2>
            <p><a href="{% url 'todo_list_update' current_list.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' current_list.id %}">Delete</a></p>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for i in current_list.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' i.id %}">{{i.task}}</a></td>
                            <td>{{i.due_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
